<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ez.system.dao.SysRightGlDao">
	<resultMap id="SysRightGl" type="com.ez.system.entity.SysRightGl">
        <result property="glId" column="GL_ID"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="fxQx" column="FX_QX"/>
        <result property="fwQx" column="FW_QX"/>
        <result property="qx1" column="QX1"/>
        <result property="qx2" column="QX2"/>
        <result property="qx3" column="QX3"/>
        <result property="qx4" column="QX4"/>
	</resultMap>
	
	<sql id="selectId">
		GL_ID,
ROLE_ID,
FX_QX,
FW_QX,
QX1,
QX2,
QX3,
QX4
    </sql>
    
    <select id="findAll" resultMap="SysRightGl">
		select
		<include refid="selectId" />
		from sys_right_gl
	</select>


	<select id="query" resultMap="SysRightGl" parameterType="com.ez.system.entity.SysRightGl">
		select
		<include refid="selectId" />
		from sys_right_gl
		<include refid="querywhere"/>
	</select>

		<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(roleId)">
					AND ROLE_ID like '%${roleId}%'
				</if>
		       <if test="@Ognl@isNotEmpty(fxQx)">
					AND FX_QX = '${fxQx}'
			   </if>
		       <if test="@Ognl@isNotEmpty(fwQx)">
					AND FW_QX = '${fwQx}'
			   </if>
		       <if test="@Ognl@isNotEmpty(qx1)">
					AND QX1 = '${qx1}'
			   </if>
		       <if test="@Ognl@isNotEmpty(qx2)">
					AND QX2 = '${qx2}'
			   </if>
		       <if test="@Ognl@isNotEmpty(qx3)">
					AND QX3 = '${qx3}'
			   </if>
		       <if test="@Ognl@isNotEmpty(qx4)">
					AND QX4 = '${qx4}'
			   </if>
	       
		</where>
	</sql>

	<!-- 总记录数 -->
	<select id="count" parameterType="com.ez.system.entity.SysRightGl" resultType="int">
		select count(0) from sys_right_gl
		<include refid="querywhere"/>
	</select>
	
	<!-- 新增 -->
	<insert id="addAll" parameterType="com.ez.system.entity.SysRightGl">
	<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
        SELECT LAST_INSERT_ID() AS ID   
    </selectKey>
		INSERT INTO sys_right_gl (
        	ROLE_ID ,
        	FX_QX ,
        	FW_QX ,
        	QX1 ,
        	QX2 ,
        	QX3 ,
        	QX4 
        ) VALUES (
        	#{roleId} ,
        	#{fxQx} ,
        	#{fwQx} ,
        	#{qx1} ,
        	#{qx2} ,
        	#{qx3} ,
        	#{qx4} 
        )
	</insert>
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.ez.system.entity.SysRightGl">
		INSERT INTO sys_right_gl 
		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(glId)">
				GL_ID,
			</if>
			<if test="@Ognl@isNotEmpty(roleId)">
				ROLE_ID,
			</if>
			<if test="@Ognl@isNotEmpty(fxQx)">
				FX_QX,
			</if>
			<if test="@Ognl@isNotEmpty(fwQx)">
				FW_QX,
			</if>
			<if test="@Ognl@isNotEmpty(qx1)">
				QX1,
			</if>
			<if test="@Ognl@isNotEmpty(qx2)">
				QX2,
			</if>
			<if test="@Ognl@isNotEmpty(qx3)">
				QX3,
			</if>
			<if test="@Ognl@isNotEmpty(qx4)">
				QX4,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(glId)">
				#{glId},
			</if>
			<if test="@Ognl@isNotEmpty(roleId)">
				#{roleId},
			</if>
			<if test="@Ognl@isNotEmpty(fxQx)">
				#{fxQx},
			</if>
			<if test="@Ognl@isNotEmpty(fwQx)">
				#{fwQx},
			</if>
			<if test="@Ognl@isNotEmpty(qx1)">
				#{qx1},
			</if>
			<if test="@Ognl@isNotEmpty(qx2)">
				#{qx2},
			</if>
			<if test="@Ognl@isNotEmpty(qx3)">
				#{qx3},
			</if>
			<if test="@Ognl@isNotEmpty(qx4)">
				#{qx4},
			</if>
    </trim>
	</sql>
	
	<!-- 删 -->
	<delete id="delete" parameterType="String">
		DELETE FROM sys_right_gl WHERE
        GL_ID = #{id} 
	</delete>
	
	<!-- 根据主键查实体 -->
	<select id="getById" parameterType="String" resultMap="SysRightGl">
		SELECT <include refid="selectId" />
		    FROM sys_right_gl 
	        WHERE 
        GL_ID = #{id} 
	</select>
	<!-- 通过当前登录用的角色id获取管理权限数据 -->
	<select id="findByRid" resultMap="SysRightGl" parameterType="String">
		SELECT
			b.GL_ID,
			b.ROLE_ID,
			b.FX_QX,
			b.FW_QX,
			b.QX1,
			b.QX2,
			b.QX3,
			b.QX4
		from sys_role a, sys_right_gl b, sys_user c
		where
			a.QX_ID = b.GL_ID
		and
			a.ROLE_ID = c.RLID
		and
			c.RLID =  #{roleId}

		limit 0,1
	</select>

	<!-- 更新all -->
	<update id="updateAll" parameterType="com.ez.system.entity.SysRightGl">
	    UPDATE sys_right_gl SET
	        ROLE_ID = #{roleId} ,
	        FX_QX = #{fxQx} ,
	        FW_QX = #{fwQx} ,
	        QX1 = #{qx1} ,
	        QX2 = #{qx2} ,
	        QX3 = #{qx3} ,
	        QX4 = #{qx4} 
        WHERE 
	        GL_ID = #{glId}
	</update>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(roleId)">
			ROLE_ID = #{roleId},
		</if>
		<if test="@Ognl@isNotEmpty(fxQx)">
			FX_QX = #{fxQx},
		</if>
		<if test="@Ognl@isNotEmpty(fwQx)">
			FW_QX = #{fwQx},
		</if>
		<if test="@Ognl@isNotEmpty(qx1)">
			QX1 = #{qx1},
		</if>
		<if test="@Ognl@isNotEmpty(qx2)">
			QX2 = #{qx2},
		</if>
		<if test="@Ognl@isNotEmpty(qx3)">
			QX3 = #{qx3},
		</if>
		<if test="@Ognl@isNotEmpty(qx4)">
			QX4 = #{qx4},
		</if>
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="modify" parameterType="com.ez.system.entity.SysRightGl">
	    UPDATE sys_right_gl 
		<include refid="updateset"/>
        WHERE 
	        GL_ID = #{glId} 
	</update>
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

