<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ez.system.dao.SysUserDao">
	<resultMap id="SysUser" type="com.ez.system.entity.SysUser">
        <result property="userno" column="USERNO"/>
        <result property="lognm" column="LOGNM"/>
        <result property="logpwd" column="LOGPWD"/>
        <result property="dptno" column="DPTNO"/>
        <result property="companyno" column="COMPANYNO"/>
        <result property="sex" column="SEX"/>
        <result property="age" column="AGE"/>
        <result property="userrelnm" column="USERRELNM"/>
        <result property="idnum" column="IDNUM"/>
        <result property="mobile" column="MOBILE"/>
        <result property="usericom" column="USERICOM"/>
        <result property="email" column="EMAIL"/>
        <result property="optype" column="OPTYPE"/>
        <result property="isused" column="ISUSED"/>
        <result property="opright" column="OPRIGHT"/>
        <result property="uptdate" column="UPTDATE"/>
        <result property="bsbsknd" column="BSBSKND"/>
        <result property="lastlogin" column="LASTLOGIN"/>
        <result property="loginip" column="LOGINIP"/>
        <result property="loginlocation" column="LOGINLOCATION"/>
	</resultMap>
	
	<sql id="selectId">
		USERNO,
		LOGNM,
		LOGPWD,
		DPTNO,
		COMPANYNO,
		(SELECT orgName FROM sys_org WHERE orgId=DPTNO) DPTNM,
		(SELECT orgName FROM sys_org WHERE orgId=COMPANYNO) COMPANYNM,
		SEX,
		AGE,
		USERRELNM,
		IDNUM,
		MOBILE,
		USERICOM,
		EMAIL,
		OPTYPE,
		ISUSED,
		OPRIGHT,
		UPTDATE,
		BSBSKND,
		LASTLOGIN,
		LOGINIP,
		LOGINLOCATION
    </sql>
    
    <select id="findAll" resultMap="SysUser">
		select
		<include refid="selectId" />
		from sys_user
	</select>

	<select id="query" resultMap="SysUser" parameterType="com.ez.system.entity.SysUser" >
		select
		<include refid="selectId" />
		from sys_user
		<include refid="querywhere"/>

	</select>

		<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(lognm)">
					AND LOGNM like '%${lognm}%'
				</if>
		       <if test="@Ognl@isNotEmpty(logpwd)">
					AND LOGPWD like '%${logpwd}%'
				</if>
		       <if test="@Ognl@isNotEmpty(dptno)">
					AND DPTNO in (select orgId from sys_org where orgPath like CONCAT((SELECT orgPath FROM sys_org WHERE orgId='${dptno}'),'-%') OR orgPath=(SELECT orgPath FROM sys_org WHERE orgId='${dptno}'))
			   </if>
		       <if test="@Ognl@isNotEmpty(companyno)">
					AND COMPANYNO like '%${companyno}%'
				</if>
				<if test="rlid==1">
					AND userno!='1000'
				</if>
		       <if test="@Ognl@isNotEmpty(sex)">
					AND sex like '%${sex}%'
				</if>
				<if test="@Ognl@isNotEmpty(age)">
					AND age like '%${age}%'
				</if>
		       <if test="@Ognl@isNotEmpty(userrelnm)">
					AND USERRELNM like '%${userrelnm}%'
				</if>
		       <if test="@Ognl@isNotEmpty(idnum)">
					AND IDNUM like '%${idnum}%'
				</if>
		       <if test="@Ognl@isNotEmpty(mobile)">
					AND MOBILE like '%${mobile}%'
				</if>
		       <if test="@Ognl@isNotEmpty(usericom)">
					AND USERICOM like '%${usericom}%'
				</if>
		       <if test="@Ognl@isNotEmpty(email)">
					AND EMAIL like '%${email}%'
				</if>
		       <if test="@Ognl@isNotEmpty(optype)">
					AND OPTYPE like '%${optype}%'
				</if>
		       <if test="@Ognl@isNotEmpty(isused)">
					AND ISUSED like '%${isused}%'
				</if>
		       <if test="@Ognl@isNotEmpty(opright)">
					AND OPRIGHT like '%${opright}%'
				</if>
		       <if test="@Ognl@isNotEmpty(uptdate)">
					AND UPTDATE like '%${uptdate}%'
				</if>
		       <if test="@Ognl@isNotEmpty(bsbsknd)">
					AND BSBSKND like '%${bsbsknd}%'
				</if>
		       <if test="@Ognl@isNotEmpty(lastlogin)">
					AND LASTLOGIN like '%${lastlogin}%'
				</if>
		       <if test="@Ognl@isNotEmpty(loginip)">
					AND LOGINIP like '%${loginip}%'
				</if>
		       <if test="@Ognl@isNotEmpty(loginlocation)">
					AND LOGINLOCATION like '%${loginlocation}%'
				</if>
	       
		</where>
	</sql>
	<!-- 检查密码是否正确 -->
	<select id="checkpwd" parameterType="com.ez.system.entity.SysUser" resultType="int" >
		select count(0) from sys_user
		where LOGNM = #{lognm}
		AND LOGPWD = #{logpwd}
	</select>
	<!-- 总记录数 -->
	<select id="count" parameterType="com.ez.system.entity.SysUser" resultType="int" >
		select count(0) from sys_user
		<include refid="querywhere"/>
	</select>
	
	<!-- 新增 -->
	<insert id="addAll" parameterType="com.ez.system.entity.SysUser">
	<!--<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
        SELECT LAST_INSERT_ID() AS ID   
    </selectKey>-->
		INSERT INTO sys_user (
			USERNO,
        	LOGNM ,
        	LOGPWD ,
        	DPTNO ,
			COMPANYNO ,
        	SEX ,
        	AGE ,
        	USERRELNM ,
        	IDNUM ,
        	MOBILE ,
        	USERICOM ,
        	EMAIL ,
        	OPTYPE ,
        	ISUSED ,
        	OPRIGHT ,
        	UPTDATE ,
        	BSBSKND ,
			LASTLOGIN ,
			LOGINIP ,
			LOGINLOCATION
        ) VALUES (
			#{USERNO},
        	#{lognm} ,
        	#{logpwd} ,
        	#{dptno} ,
        	#{companyno} ,
        	#{sex} ,
        	#{age} ,
        	#{userrelnm} ,
        	#{idnum} ,
        	#{mobile} ,
        	#{usericom} ,
        	#{email} ,
        	#{optype} ,
        	#{isused} ,
        	#{opright} ,
        	#{uptdate} ,
        	#{bsbsknd} ,
        	#{lastlogin} ,
        	#{loginip} ,
        	#{loginlocation}
        )
	</insert>
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.ez.system.entity.SysUser">
	<!--<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
	        SELECT LAST_INSERT_ID() AS ID
	</selectKey>-->
		INSERT INTO sys_user 
		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(userno)">
				USERNO,
			</if>
			<if test="@Ognl@isNotEmpty(lognm)">
				LOGNM,
			</if>
			<if test="@Ognl@isNotEmpty(logpwd)">
				LOGPWD,
			</if>
			<if test="@Ognl@isNotEmpty(dptno)">
				DPTNO,
			</if>
			<if test="@Ognl@isNotEmpty(companyno)">
				COMPANYNO,
			</if>
			<if test="@Ognl@isNotEmpty(sex)">
				SEX,
			</if>
			<if test="@Ognl@isNotEmpty(age)">
				AGE,
			</if>
			<if test="@Ognl@isNotEmpty(userrelnm)">
				USERRELNM,
			</if>
			<if test="@Ognl@isNotEmpty(idnum)">
				IDNUM,
			</if>
			<if test="@Ognl@isNotEmpty(mobile)">
				MOBILE,
			</if>
			<if test="@Ognl@isNotEmpty(usericom)">
				USERICOM,
			</if>
			<if test="@Ognl@isNotEmpty(email)">
				EMAIL,
			</if>
			<if test="@Ognl@isNotEmpty(optype)">
				OPTYPE,
			</if>
			<if test="@Ognl@isNotEmpty(isused)">
				ISUSED,
			</if>
			<if test="@Ognl@isNotEmpty(opright)">
				OPRIGHT,
			</if>
			<if test="@Ognl@isNotEmpty(uptdate)">
				UPTDATE,
			</if>
			<if test="@Ognl@isNotEmpty(bsbsknd)">
				BSBSKND,
			</if>
			<if test="@Ognl@isNotEmpty(lastlogin)">
				LASTLOGIN,
			</if>
			<if test="@Ognl@isNotEmpty(loginip)">
				LOGINIP,
			</if>
			<if test="@Ognl@isNotEmpty(loginlocation)">
				LOGINLOCATION,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(userno)">
				#{userno},
			</if>
			<if test="@Ognl@isNotEmpty(lognm)">
				#{lognm},
			</if>
			<if test="@Ognl@isNotEmpty(logpwd)">
				#{logpwd},
			</if>
			<if test="@Ognl@isNotEmpty(dptno)">
				#{dptno},
			</if>
			<if test="@Ognl@isNotEmpty(companyno)">
				#{companyno},
			</if>
			<if test="@Ognl@isNotEmpty(sex)">
				#{sex},
			</if>
			<if test="@Ognl@isNotEmpty(age)">
				#{age},
			</if>
			<if test="@Ognl@isNotEmpty(userrelnm)">
				#{userrelnm},
			</if>
			<if test="@Ognl@isNotEmpty(idnum)">
				#{idnum},
			</if>
			<if test="@Ognl@isNotEmpty(mobile)">
				#{mobile},
			</if>
			<if test="@Ognl@isNotEmpty(usericom)">
				#{usericom},
			</if>
			<if test="@Ognl@isNotEmpty(email)">
				#{email},
			</if>
			<if test="@Ognl@isNotEmpty(optype)">
				#{optype},
			</if>
			<if test="@Ognl@isNotEmpty(isused)">
				#{isused},
			</if>
			<if test="@Ognl@isNotEmpty(opright)">
				#{opright},
			</if>
			<if test="@Ognl@isNotEmpty(uptdate)">
				#{uptdate},
			</if>
			<if test="@Ognl@isNotEmpty(bsbsknd)">
				#{bsbsknd},
			</if>
			<if test="@Ognl@isNotEmpty(lastlogin)">
				#{lastlogin},
			</if>
			<if test="@Ognl@isNotEmpty(loginip)">
				#{loginip},
			</if>
			<if test="@Ognl@isNotEmpty(loginlocation)">
				#{loginlocation},
			</if>
    </trim>
	</sql>
	
	<!-- 删 -->
	<delete id="delete" parameterType="String">
		DELETE FROM sys_user WHERE
        USERNO = #{id} 
	</delete>
	
	<!-- 根据主键查实体 -->
	<select id="getById" parameterType="String" resultMap="SysUser" >
		SELECT <include refid="selectId" />
		    FROM sys_user 
	        WHERE 
        USERNO = #{id} 
	</select>
	<select id="getByAll" resultMap="SysUser" parameterType="com.ez.system.entity.SysUser">
		SELECT <include refid="selectId" />
		FROM sys_user
		WHERE LOGNM=#{lognm}
	</select>
    <select id="listByRid" resultType="com.ez.system.entity.SysUser" parameterType="String">
		SELECT <include refid="selectId" />
		FROM sys_user
		WHERE RLID = #{ids}
	</select>
	<select id="listByDptno" resultType="com.ez.system.entity.SysUser">
		SELECT <include refid="selectId" />
		FROM sys_user
		WHERE DPTNO = #{ids}
	</select>

	<!-- 更新all -->
	<update id="updateAll" parameterType="com.ez.system.entity.SysUser">
	    UPDATE sys_user SET
	        LOGNM = #{lognm} ,
	        LOGPWD = #{logpwd} ,
	        DPTNO = #{dptno} ,
	        COMPANYNO = #{companyno} ,
	        SEX = #{sex} ,
	        AGE = #{age} ,
	        USERRELNM = #{userrelnm} ,
	        IDNUM = #{idnum} ,
	        MOBILE = #{mobile} ,
	        USERICOM = #{usericom} ,
	        EMAIL = #{email} ,
	        OPTYPE = #{optype} ,
	        ISUSED = #{isused} ,
	        OPRIGHT = #{opright} ,
	        UPTDATE = #{uptdate} ,
	        BSBSKND = #{bsbsknd} ,
	        LASTLOGIN = #{lastlogin} ,
	        LOGINIP = #{loginip} ,
	        LOGINLOCATION = #{loginlocation}
        WHERE 
	        USERNO = #{userno} 
	</update>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(lognm)">
			LOGNM = #{lognm},
		</if>
		<if test="@Ognl@isNotEmpty(logpwd)">
			LOGPWD = #{logpwd},
		</if>
		<if test="@Ognl@isNotEmpty(dptno)">
			DPTNO = #{dptno},
		</if>
		<if test="@Ognl@isNotEmpty(companyno)">
			COMPANYNO = #{companyno},
		</if>
		<if test="@Ognl@isNotEmpty(sex)">
			SEX = #{sex},
		</if>
		<if test="@Ognl@isNotEmpty(age)">
			AGE = #{age},
		</if>
		<if test="@Ognl@isNotEmpty(userrelnm)">
			USERRELNM = #{userrelnm},
		</if>
		<if test="@Ognl@isNotEmpty(idnum)">
			IDNUM = #{idnum},
		</if>
		<if test="@Ognl@isNotEmpty(mobile)">
			MOBILE = #{mobile},
		</if>
		<if test="@Ognl@isNotEmpty(usericom)">
			USERICOM = #{usericom},
		</if>
		<if test="@Ognl@isNotEmpty(email)">
			EMAIL = #{email},
		</if>
		<if test="@Ognl@isNotEmpty(optype)">
			OPTYPE = #{optype},
		</if>
		<if test="@Ognl@isNotEmpty(isused)">
			ISUSED = #{isused},
		</if>
		<if test="@Ognl@isNotEmpty(opright)">
			OPRIGHT = #{opright},
		</if>
		<if test="@Ognl@isNotEmpty(uptdate)">
			UPTDATE = #{uptdate},
		</if>
		<if test="@Ognl@isNotEmpty(bsbsknd)">
			BSBSKND = #{bsbsknd},
		</if>
		<if test="@Ognl@isNotEmpty(lastlogin)">
			LASTLOGIN = #{lastlogin},
		</if>
		<if test="@Ognl@isNotEmpty(loginip)">
			LOGINIP = #{loginip},
		</if>
		<if test="@Ognl@isNotEmpty(loginlocation)">
			LOGINLOCATION = #{loginlocation},
		</if>
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="modify" parameterType="com.ez.system.entity.SysUser">
	    UPDATE sys_user 
		<include refid="updateset"/>
        WHERE 
	        USERNO = #{userno} 
	</update>


	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

