@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right:2px;
}
.icon-shoucang:before { content: "\e603"; }/*收藏*/
.icon-xihuan:before { content: "\e617"; }/*喜欢*/
.icon-search:before { content: "\e601"; }/*搜索*/
.icon-mima:before { content: "\e611"; }/*密码*/
.icon-guanyu:before { content: "\e60c"; }/*关于*/
.icon-xiayiye:before { content: "\e60b"; }/*下一页*/
.icon-xiazai:before { content: "\e604"; }/*下载*/
.icon-07f3d66ee41cf70d5d84b0606cb8dc7fpng:before { content: "\e61d"; }/*举报*/
.icon-yijianfankui:before { content: "\e605"; }/*意见反馈*/
.icon-jikediancanicon03:before { content: "\e602"; }/*个人中心*/
.icon-shipin:before { content: "\e61f"; }/*视频*/
.icon-shezi:before { content: "\e60a"; }/*设置*/
.icon-fenxiang:before { content: "\e613"; }/*分享*/
.icon-xinsui:before { content: "\e618"; }/*心碎*/
.icon-cubanzihao:before { content: "\e619"; }/*字体放大*/
.icon-mianxingtubiaozihao:before { content: "\e61a"; }/*字体变小*/
.icon-more_app:before { content: "\e614"; }/*更多*/
.icon-zhuye01:before { content: "\e608"; }/*主页*/
.icon-fanhui:before { content: "\e610"; }/*返回*/
.icon-2qingyewan:before { content: "\e61b"; }/*夜晚*/
.icon-1qingbaitian:before { content: "\e61c"; }/*白天*/

.icon-2qingyewan:before { content: "\e61b"; }/*夜间模式*/
.icon-1qingbaitian:before { content: "\e61c"; }/*白天模式*/
.icon-shoushishuangji:before { content: "\e60d"; }/*双击*/
.icon-ttpodicon-copy:before { content: "\e60e"; }/*左右滑动*/
.icon-iconfontjianlilaiyuanwangzhan:before { content: "\e616"; }/*来源*/
.icon-shijian:before { content: "\e615"; }/*时间*/
.icon-qingchuhuancun:before { content: "\e60f"; }/*清除缓存*/
.icon-zhuxiao:before { content: "\e607"; }/*注销*/
.icon-xiaoxi:before { content: "\e606"; }/*消息*/
.icon-guanliyuandengluzhanghao01:before { content: "\e612"; }/*管理员*/
/*----------------登录页面begin-------------------*/
body{
	/*background:url(images/login-png) no-repeat center center fixed;*/
	-webkit-background-size:cover; 
	-moz-background-size:cover;  
	-o-background-size:cover; 
	 background-size:cover; 
}
.content-loginbox{
	width: 362px;
	padding-bottom:10px;
	background-color: #fff;
	margin:50px auto;
	border-radius: 4px;
	-moz-box-shadow:2px 3px 8px #486e8b, -2px -1px 8px #486e8b;
	-webkit-box-shadow: 4px 4px 7px #486e8b, -1px 1px 5px #486e8b;
	box-shadow:2px 3px 5px #486e8b, -2px -1px 8px #486e8b;
}
.login-logo{
	width: 100px;
	margin: 0 auto;
	margin-top: 6%;
}
h3{
	text-align: center;
	margin: 0;
	padding-top: 8px;
	font-family: "微软雅黑";
	font-size: 26px;
	color: #fff;
	letter-spacing: 3px;
	text-shadow:1px 2px 4px #2b3769;
}
.login-logo img{
	width: 80px;
	height: 80px;
}
.post{
	position: relative;
	text-align: center;
	display: block;
	clear:both;
}
.post input {
	width: 257px;
	height: 40px;
	margin-top: 25px;
	padding: 0 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #bec0c4;
	background-color: #fff;
	/*-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;*/
	font-size: 14px;
	color: #858a99;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
.post form, input, button {
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	text-decoration: none;
}
.post button.submit_button {
font-size: 16px;
letter-spacing: 15px;
}
.login_button{
	width: 362px;
	clear: both;
	height: 65px;
}
.post button {
	cursor: pointer;
	margin-top:15px;
	margin-left: 42px;
	float:left;
}
input.labelauty + label{
	margin-left: 36px;
}
.login_bottom{
	text-align: center;
}
.login_info{
	text-align:center;
	color:red;
	font-size:14px;
	margin-top:5px;
	overflow:hidden;
}