<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ez.modules.system.dao.SysLogDao">

		<resultMap id="SysLog" type="com.ez.modules.system.entity.SysLog">
        <result property="id" column="id"/>
        <result property="mehtoddescription" column="mehtoddescription"/>
        <result property="exceptionCode" column="exceptionCode"/>
        <result property="logtype" column="logtype"/>
        <result property="exceptionDetail" column="exceptionDetail"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="cmpno" column="cmpno"/>
        <result property="userno" column="userno"/>
        <result property="createDate" column="createDate"/>
        <result property="requestIp" column="requestIp"/>
	</resultMap>
	
	<sql id="selectId">
		id,
		mehtoddescription,
		exceptionCode,
		logtype,
		exceptionDetail,
		method,
		params,
		cmpno,
		userno,
		createDate,
		requestIp
    </sql>
	<sql id="selectId0">
		a.id,
		a.mehtoddescription,
		a.exceptionCode,
		a.logtype,
		a.exceptionDetail,
		a.method,
		a.params,
		a.cmpno,
		a.userno,
		b.USERRELNM as usernm,
		a.createDate,
		a.requestIp
	</sql>
    
    <select id="findAll" resultType="com.ez.modules.system.entity.SysLog">
		select
		<include refid="selectId" />
		from sys_log
	</select>

	<select id="query" resultType="com.ez.modules.system.entity.SysLog" parameterType="com.ez.modules.system.entity.SysLog">
		select
		<include refid="selectId0" />
		from sys_log a
		LEFT JOIN sys_user b ON a.userno=b.userno
		<include refid="querywhere0"/>
	</select>
	<!--<select id="query" resultType="com.ez.modules.system.entity.SysLog" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from sys_log
		<include refid="querywhere"/>
	</select>-->
	<sql id="querywhere0">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(mehtoddescription)">
				AND a.mehtoddescription like '%${mehtoddescription}%'
			</if>
			<if test="@Ognl@isNotEmpty(exceptionCode)">
				AND a.exceptionCode like '%${exceptionCode}%'
			</if>
			<if test="@Ognl@isNotEmpty(logtype)">
				AND a.logtype like '%${logtype}%'
			</if>
			<if test="@Ognl@isNotEmpty(exceptionDetail)">
				AND a.exceptionDetail like '%${exceptionDetail}%'
			</if>
			<if test="@Ognl@isNotEmpty(method)">
				AND a.method like '%${method}%'
			</if>
			<if test="@Ognl@isNotEmpty(params)">
				AND a.params like '%${params}%'
			</if>
			<if test="@Ognl@isNotEmpty(cmpno)">
				AND a.cmpno like '%${cmpno}%'
			</if>
			<if test="@Ognl@isNotEmpty(userno)">
				AND a.userno like '%${userno}%'
			</if>
			<if test="@Ognl@isNotEmpty(usernm)">
				AND b.lognm like '%${usernm}%'
			</if>
			<if test="@Ognl@isNotEmpty(createDate)">
				AND a.createDate like '%${createDate}%'
			</if>
			<if test="@Ognl@isNotEmpty(requestIp)">
				AND a.requestIp like '%${requestIp}%'
			</if>

		</where>
	</sql>

		<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(mehtoddescription)">
					AND mehtoddescription like '%${mehtoddescription}%'
				</if>
		       <if test="@Ognl@isNotEmpty(exceptionCode)">
					AND exceptionCode like '%${exceptionCode}%'
				</if>
		       <if test="@Ognl@isNotEmpty(logtype)">
					AND logtype like '%${logtype}%'
				</if>
		       <if test="@Ognl@isNotEmpty(exceptionDetail)">
					AND exceptionDetail like '%${exceptionDetail}%'
				</if>
		       <if test="@Ognl@isNotEmpty(method)">
					AND method like '%${method}%'
				</if>
		       <if test="@Ognl@isNotEmpty(params)">
					AND params like '%${params}%'
				</if>
		       <if test="@Ognl@isNotEmpty(cmpno)">
					AND cmpno like '%${cmpno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(userno)">
					AND userno like '%${userno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(createDate)">
					AND createDate like '%${createDate}%'
				</if>
		       <if test="@Ognl@isNotEmpty(requestIp)">
					AND requestIp like '%${requestIp}%'
				</if>
	       
		</where>
	</sql>

	<!-- 总记录数 -->
	<select id="count" parameterType="com.ez.modules.system.entity.SysLog" resultType="int">
		select count(0) from sys_log
		<include refid="querywhere"/>
	</select>
	
	<!-- 新增 -->
	<insert id="addAll" parameterType="com.ez.modules.system.entity.SysLog">
	<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
        SELECT LAST_INSERT_ID() AS ID   
    </selectKey>
		INSERT INTO sys_log (
        	mehtoddescription ,
        	exceptionCode ,
        	logtype ,
        	exceptionDetail ,
        	method ,
        	params ,
        	cmpno ,
        	userno ,
        	createDate ,
        	requestIp 
        ) VALUES (
        	#{mehtoddescription} ,
        	#{exceptionCode} ,
        	#{logtype} ,
        	#{exceptionDetail} ,
        	#{method} ,
        	#{params} ,
        	#{cmpno} ,
        	#{userno} ,
        	#{createDate} ,
        	#{requestIp} 
        )
	</insert>
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.ez.modules.system.entity.SysLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_log 
		<include refid="addtrim"/>
	</insert>

    <sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(mehtoddescription)">
				mehtoddescription,
			</if>
			<if test="@Ognl@isNotEmpty(exceptionCode)">
				exceptionCode,
			</if>
			<if test="@Ognl@isNotEmpty(logtype)">
				logtype,
			</if>
			<if test="@Ognl@isNotEmpty(exceptionDetail)">
				exceptionDetail,
			</if>
			<if test="@Ognl@isNotEmpty(method)">
				method,
			</if>
			<if test="@Ognl@isNotEmpty(params)">
				params,
			</if>
			<if test="@Ognl@isNotEmpty(cmpno)">
				cmpno,
			</if>
			<if test="@Ognl@isNotEmpty(userno)">
				userno,
			</if>
			<if test="@Ognl@isNotEmpty(createDate)">
				createDate,
			</if>
			<if test="@Ognl@isNotEmpty(requestIp)">
				requestIp,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(mehtoddescription)">
				#{mehtoddescription},
			</if>
			<if test="@Ognl@isNotEmpty(exceptionCode)">
				#{exceptionCode},
			</if>
			<if test="@Ognl@isNotEmpty(logtype)">
				#{logtype},
			</if>
			<if test="@Ognl@isNotEmpty(exceptionDetail)">
				#{exceptionDetail},
			</if>
			<if test="@Ognl@isNotEmpty(method)">
				#{method},
			</if>
			<if test="@Ognl@isNotEmpty(params)">
				#{params},
			</if>
			<if test="@Ognl@isNotEmpty(cmpno)">
				#{cmpno},
			</if>
			<if test="@Ognl@isNotEmpty(userno)">
				#{userno},
			</if>
			<if test="@Ognl@isNotEmpty(createDate)">
				#{createDate},
			</if>
			<if test="@Ognl@isNotEmpty(requestIp)">
				#{requestIp},
			</if>
    </trim>
	</sql>
	
	<!-- 删 -->
	<delete id="deleteById" parameterType="String">
		DELETE FROM sys_log WHERE
        id = #{id} 
	</delete>
    <delete id="deleteThreeMonthBefore" parameterType="String">
		DELETE FROM sys_log WHERE
        createDate &lt; #{threeMonthBefore}
	</delete>

    <!-- 根据主键查实体 -->
	<select id="getById" parameterType="String" resultType="com.ez.modules.system.entity.SysLog">
		SELECT <include refid="selectId" />
		    FROM sys_log 
	        WHERE
		 id = #{id}
	</select>
	<select id="getByUseId" resultType="com.ez.modules.system.entity.SysLog" parameterType="String">
		SELECT <include refid="selectId" />
		FROM sys_log
		WHERE
		userno = #{userno}
		and
		mehtoddescription="登录系统"
		order by  createDate DESC limit 1
	</select>

	<!-- 更新all -->
	<update id="updateAll" parameterType="com.ez.modules.system.entity.SysLog">
	    UPDATE sys_log SET
	        mehtoddescription = #{mehtoddescription} ,
	        exceptionCode = #{exceptionCode} ,
	        logtype = #{logtype} ,
	        exceptionDetail = #{exceptionDetail} ,
	        method = #{method} ,
	        params = #{params} ,
	        cmpno = #{cmpno} ,
	        userno = #{userno} ,
	        createDate = #{createDate} ,
	        requestIp = #{requestIp} 
        WHERE 
	        id = #{id} 
	</update>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(mehtoddescription)">
			mehtoddescription = #{mehtoddescription},
		</if>
		<if test="@Ognl@isNotEmpty(exceptionCode)">
			exceptionCode = #{exceptionCode},
		</if>
		<if test="@Ognl@isNotEmpty(logtype)">
			logtype = #{logtype},
		</if>
		<if test="@Ognl@isNotEmpty(exceptionDetail)">
			exceptionDetail = #{exceptionDetail},
		</if>
		<if test="@Ognl@isNotEmpty(method)">
			method = #{method},
		</if>
		<if test="@Ognl@isNotEmpty(params)">
			params = #{params},
		</if>
		<if test="@Ognl@isNotEmpty(cmpno)">
			cmpno = #{cmpno},
		</if>
		<if test="@Ognl@isNotEmpty(userno)">
			userno = #{userno},
		</if>
		<if test="@Ognl@isNotEmpty(createDate)">
			createDate = #{createDate},
		</if>
		<if test="@Ognl@isNotEmpty(requestIp)">
			requestIp = #{requestIp},
		</if>
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="modify" parameterType="com.ez.modules.system.entity.SysLog">
	    UPDATE sys_log 
		<include refid="updateset"/>
        WHERE 
	        id = #{id} 
	</update>
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

